---
title: "Download"
subtitle: "Download the latest versions of our various projects."
---
<link rel="stylesheet" href="/css/download.css">

<section class="container">
    <div class="download-tabs">
        <ul class="nav nav-tabs" id="download" role="tablist">
            {% for downloadEntry in site.downloads %} {% assign downloadKey = downloadEntry[0] %} {% assign download = downloadEntry[1] %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if forloop.first %}active{% endif %}" id="{{ downloadKey }}-tab" data-bs-toggle="tab" data-bs-target="#{{ downloadKey }}" type="button" role="tab" aria-controls="{{ downloadKey }}" aria-selected="true">{{ download.title }}</button>
            </li>
            {% endfor %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button" role="tab" aria-controls="other" aria-selected="false">Other Projects</button>
            </li>
        </ul>
    </div>
    <div class="tab-content fs-6" id="downloadContent">
        {% for downloadEntry in site.downloads %} {% assign downloadKey = downloadEntry[0] %} {% assign download = downloadEntry[1] %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ downloadKey }}" role="tabpanel" aria-labelledby="{{ downloadKey }}-tab">
            <p>{{ download.info | markdownify }}</p>
            {% if download.setup_url %}
                <p>
                    <a class="btn btn-block btn-info" href="{{ download.setup_url }}">
                        <i class="bi bi-book pe-1"></i> Setup instructions
                    </a>
                </p>
            {% else %}
                <h4>Setup Instructions:</h4>
                <p>{{ download.setup | markdownify }}</p>
            {% endif %}
            <div class="row" id="{{ downloadKey }}BuildsSection">
                <div class="col-md-6">
                    <h4>Downloads:</h4>
                    <div class="build-info"></div>
                    <div class="row download-buttons"></div>
                </div>
                <div class="col-md-6">
                    <h4>Recent Changelog:</h4>
                    <div class="commit-log"></div>
                </div>
            </div>
            <div id="{{ downloadKey }}StatusSection">
                <p class="placeholder-glow">
                    <span class="placeholder col-12"></span>
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
            {% include other-downloads-tab.html %}
        </div>
    </div>
</section>
<script>
    window.platforms = {{ site.platforms | jsonify }}
    window.downloads = {{ site.downloads | jsonify }}
</script>
<script src='/js/download.js'></script>