<div class="container-fluid">
    <div class="row p-2">
        {{ include.info }}
    </div>
    <div class="row py-2">
        <div class="col-sm">
            <div class="setup">
                <h4>Setup Instructions:</h4>
                <p>{{ include.setup }}</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-grid gap-2">
                <a class="btn btn-lg btn-success btn-geyser-download" href="https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/{{ include.platform }}">
                    <i class="bi bi-download pe-1"></i> Download Geyser
                </a>
            </div>
            {% if include.platform != "sponge" %}
                <div class="d-grid gap-2 py-3">
                    <h5>Want to securely allow Bedrock users who don't own Java Edition?</h5>
                    <p>By using our Floodgate plugin, you can allow Xbox Live authenticated Bedrock clients to securely join your online-mode server without needing a Java Edition account.</p>
                    {% if include.platform != "standalone" %}
                        <p>Install our Floodgate plugin by clicking the button below:</p>
                        {% if include.floodgate_url %}
                            <a class="btn btn-lg btn-primary btn-floodgate-alt-download" href="{{ include.floodgate_url }}">
                        {% else %}
                            <a class="btn btn-lg btn-primary btn-floodgate-download" href="https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/{% if include.floodgate_id %}{{ include.floodgate_id }}{% else %}{{ include.platform }}{% endif %}">
                        {% endif %}
                            <i class="bi bi-download pe-1"></i> Download Floodgate
                        </a>
                        <p>For more information, see our Floodgate setup page <a href="https://wiki.geysermc.org/floodgate/setup/">here</a>!</p>
                    {% else %}
                        <p>With Geyser standalone, Floodgate will only work if you run the server Geyser is being used on. See the setup instructions below for more information.</p>
                        <a class="btn btn-lg btn-primary" href="https://wiki.geysermc.org/floodgate/setup/#setting-up">
                            <i class="bi bi-journals pe-1"></i> Floodgate Setup
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>