<div class="container-fluid">
    <div class="row p-2">
        {{ include.info }}
    </div>
    <div class="row p-2">
        <div class="col-sm">
            <div class="setup">
                <h4>Setup Instructions:</h4>
                <p>{{ include.setup }}</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-grid gap-2">
                <a class="btn btn-lg btn-success" href="https://download.geysermc.org/v2/projects/geyser/versions/{{ site.geyser_version }}/builds/latest/downloads/{{ include.platform }}">
                    <i class="bi bi-download pe-1"></i> Download
                </a>
            </div>
        </div>
    </div>
</div>