<div class="container-fluid">
    <div class="row">
        {% for downloadEntry in site.other_downloads %} {% assign downloadKey = downloadEntry[0] %} {% assign download = downloadEntry[1] %}
        <div class="col-sm-6 col-lg-3 py-2">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title d-flex align-items-center">{{ download.title }}{% for tag in download.tags %}<span class="badge fs-small bg-secondary ms-1">{{ tag }}</span>{% endfor %}</h5>
                    <p class="card-text">{{ download.info }}</p>
                </div>
                <div class="card-footer d-grid">
                    <button class="btn btn-block btn-primary" data-bs-toggle="modal" data-bs-target="#otherModal" data-bs-download="{{ downloadKey }}">Information</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="otherModal" tabindex="-1" aria-labelledby="otherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="otherModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="otherModalInfo"></p>
                <h4 id="otherModalSetupTitle">Setup Instructions:</h4>
                <p id="otherModalSetup"></p>
                <h4 id="otherModelDownloadsTitle">Downloads:</h4>
                <p class="placeholder-glow">
                    <span class="placeholder col-12"></span>
                </p>
                <div class="d-grid gap-2" id="otherModalDownloadBtns"></div>
            </div>
            <div class="modal-footer">
                <span id="otherModalFooter"></span>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% comment %}
Convert the other downloads into a JS object
We cant use the built in jsonify filter because it doesn't format markdown
{% endcomment %}
<script>
    window.otherDownloads = {
        {% for other_download in site.other_downloads %}
            "{{ other_download[0] }}": {
                {% for download_data in other_download[1] %}
                    {% if download_data[0] == "info" or download_data[0] == "setup" %}
                        "{{ download_data[0] }}": {{ download_data[1] | markdownify | jsonify }},
                    {% else %}
                        "{{ download_data[0] }}": {{ download_data[1] | jsonify }},
                    {% endif %}
                {% endfor %}
            },
        {% endfor %}
    }
</script>
<script src="/js/other-downloads.js"></script>
